<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<div sec:authorize="hasAuthority('STUDENT')">
    Users will see this text.
    You can display a navbar here.
    <a href="/grantedstudent">Student view of the user page</a>
</div>

<div sec:authorize="hasAuthority('TEACHER')">
    Administrators will see this text. You can display a navbar here.
    <a href="/grantedteacher">Teacher view of the user page</a>
</div>

<div sec:authorize="Anonymous">
    <h2>Hello, everyone!</h2>
</div>

</body>
</html>